.cookie-image {
  width: 80%;
  display: none;
  border-radius: 100%;
  padding: 15px;
}

.cookie-image.show {
  display: inline-block;
}

.cookie-image.metronome-inactive {
  animation: rotate 4s ease-in-out 3 5s;
}

@keyframes rotate {
  0% {
    transform: roate(0deg);
  }

  50% {
    transform: rotate(45deg);
  }

  100% {
    transform: roate(0deg);
  }
}