.cookie-image {
  height: 400px;
  width: 400px;
  display: none;
  border: 10px solid transparent;
  border-radius: 100%;
  padding: 15px;
}

.cookie-image.show {
  display: inline-block;
}

.cookie-image.metronome-inactive {
  animation: rotate 4s ease-in-out 3 5s;
}

.cookie-image.cookie-image.metronome-active {
  border-color: deepskyblue;
}

.cookie-image.cookie-image.metronome-active:nth-of-type(2) {
  border-style: dashed;
}

.cookie-image.cookie-image.metronome-active:nth-of-type(3) {
  border-style: dotted;
}

.cookie-image.cookie-image.metronome-active:nth-of-type(4) {
  border-width: 5px;
  border-style: dotted;
  padding: 22px;
}

@keyframes rotate {
  0% {
    transform: roate(0deg);
  }

  50% {
    transform: rotate(45deg);
  }

  100% {
    transform: roate(0deg);
  }
}

@media (max-width: 500px) {
  .cookie-image {
    width: 100%;
    height: auto;
  }
}
